apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    component: rabbitmq
spec:
  replicas: 1
  selector:
    matchLabels:
      component: rabbitmq
  template:
    metadata:
      name: rabbitmq
      labels:
        component: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5672
              name: rabbitmq
          envFrom:
            - secretRef:
                name: rabbitmq
#          resources:
#            requests:
#              cpu: 200m
#              memory: 32Mi
#            limits:
#              cpu: 500m
#              memory: 128Mi

